html{
    font-family: monospace;
    font-size:10px;
}
body
{
    font-size:1.6rem;
    max-width:967px;
    margin: 0 auto;
}
h1.title
{
    background-image: linear-gradient(#f12345, #12345f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip:text;
}
h2{
    text-align: left;
    color: #f12345;
}
h3{
    color: #12345f;
    
}
p.author
{
    font-weight:bold;
    font-size:2rem;
}
#postamble
{
    background: linear-gradient(to right bottom,#f1234547, #12345647);
    color:#555;
    text-align:center;
}
#postamble p, #preamble p
{
    font-size: inherit;
}
pre.src{
    border-radius:1em;

}
.EQUATION
{
    display: block;
    background: #eee;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

pre.src
{
    color:white;
    background:#555;
}
pre.src::before
{
    color:#123f45;
}
